---
layout: default
---

<section id='talks' class='block'>
  <h1>Talks</h1>
  <h2>Lightning talks and more. Every Thursday in GS-942 from 7:00PM-8:00PM</h2>

  {% for post in site.tags.talk limit:5 %}
    {% include post_detail.html %}
  {% endfor %}

  <p><a class='red' href='/talks'>View all talks</a></p>
</section>

<section id='events' class='block'>
  <h1>Announcements</h1>
  <h2>Local events, meet-ups, and more</h2>

  {% for post in site.tags.event limit:5 %}
    {% include post_detail.html %}
  {% endfor %}

  <p><a class='red' href='/events'>View all events</a></p>
</section>
