---
layout: default
---

<section id='talks' class='block'>
  <h1>Talks</h1>
  <h2>Lightning talks and more. Every Thursday in GS-906 from 5PM-6PM</h2>

  {% for post in site.posts %}
    {% assign content = post.content %}
    {% include post_detail.html %}
  {% endfor %}
</section>

<section id='events' class='block'>
  <h1>Events</h1>
  <h2>Lightning talks and more. Every Thursday in GS-906 from 5PM-6PM</h2>

  <time datetime=''>February 15th</time>
  <h4>Title</h4>
  <p>Text content</p>
</section>
