 p {
    font-size: 150%;
}

header {
    height: 100px;
}

header > nav {
    margin-top: 10px;
    display: block;
    font-size: 140%;
    text-align: center;
    width: 100%;
    position: static;
}

#logo {
    position: static;
    width: 430px !important;
    margin: 0 auto;
}

.block h1 {
    font-size: 200% !important;
}

.block h4 {
    font-size: 160%;
}

.block {
    float: none;
    display: block;
    width: 100% !important;
}
